<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.EventDao">
    <insert id="insert">
        INSERT INTO `event`(name, createrid, date, time, location, description, participantid, sportid) values(#{name},  #{createrid}, #{date},  #{time},   #{location},  #{description},  #{participantid}, #{sportid});
    </insert>

    <update id="update">
        update `event`
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
                date = #{date},
                time = #{time},
                location = #{location},
                description = #{description},
            <if test="participantid != null and participantid != ''">
                participantid = #{participantid},
                sportid = #{sportid}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        DELETE from `event` where id = #{id};
    </delete>

    <select id="getBycreater" resultType="com.example.springboot.entity.Event">
        SELECT * FROM event where createrid = #{createrid}
    </select>

    <select id="getByparticipant" resultType="com.example.springboot.entity.Event">
        SELECT * FROM event WHERE FIND_IN_SET(#{userid}, participantid)
    </select>

    <select id="getByid" resultType="com.example.springboot.entity.Event">
        SELECT * FROM event WHERE id = #{id}

    </select>

    <select id="find" resultType="com.example.springboot.entity.Event">
    SELECT * from event
    <where>
        <if test="sportid != null and sportid != ''">
            and sportid =  #{sportid}
        </if>
        and NOT FIND_IN_SET(#{userid}, participantid)
    </where>
    </select>
</mapper>