<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.ExperienceDao">
    <insert id="insert">
        INSERT INTO `experience`(userid, sportid, sportname, sportlevel) values(#{userid}, #{sportid},  #{sportname}, #{sportlevel});
    </insert>

    <update id="update">
        update `experience`
        <set>
            <if test="userid != null and userid != ''">
                userid = #{userid},
            </if>
            <if test="sportid != null and sportid != ''">
                sportid = #{sportid},
            </if>
            <if test="sportname != null and sportname != ''">
                sportname = #{sportname},
            </if>
            <if test="sportlevel  != null and sportlevel  != ''">
                sportlevel = #{sportlevel},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByUserSportId">
        DELETE FROM `experience` WHERE userid = #{userid} AND sportid = #{sportid};
    </delete>

    <select id="getAllExperience" resultType="com.example.springboot.entity.Experience">
        SELECT * FROM experience
    </select>
    <select id="getExperienceByUserId" resultType="com.example.springboot.entity.Experience">
        SELECT * FROM experience WHERE userid = #{userid}
    </select>
    <select id="getUserSportLevel" resultType="com.example.springboot.entity.Experience">
        SELECT * FROM experience WHERE userid = #{userid} AND sportid = #{sportid}
    </select>
    <select id="getNewSportByUserId" resultType="com.example.springboot.entity.Sport">
        SELECT * FROM sport WHERE sportname NOT IN (SELECT sportname FROM experience WHERE userid = #{userid})
    </select>
</mapper>