<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.SportDao">
    <insert id="insertSport"></insert>
    <update id="update"></update>
    <delete id="deleteBySportId"></delete>
    <select id="findAllSport" resultType="com.example.springboot.entity.Sport"></select>
    <select id="getBySportId" resultType="com.example.springboot.entity.Sport"></select>
    <select id="getBySportName" resultType="com.example.springboot.entity.Sport"></select>
</mapper>