<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.UserRelationDao">
    <insert id="insert">
        INSERT INTO `userrelation`(userid, mateid, likeid, maylikeid) values(#{userid},  #{mateid},  #{likeid},  #{maylikeid});
    </insert>

    <update id="update">
        update `userrelation`
        <set>
            <if test="userid != null and userid != ''">
                userid = #{userid},
            </if>
            mateid = #{mateid},
            likeid = #{likeid},
            maylikeid = #{maylikeid}
        </set>
        where id = #{id}
    </update>

    <select id="getByuserid" resultType="com.example.springboot.entity.UserRelation">
        SELECT * FROM userrelation WHERE userid = #{userid}
    </select>

    <select id="getMate" resultType="com.example.springboot.entity.User">
        SELECT * FROM user WHERE FIND_IN_SET(id,(SELECT mateid FROM userrelation WHERE userId=#{userid}))
    </select>

    <select id="getYouLike" resultType="com.example.springboot.entity.User">
        SELECT * FROM user WHERE FIND_IN_SET(id,(SELECT likeid FROM userrelation WHERE userId=#{userid}))
    </select>

    <select id="getYouMayLike" resultType="com.example.springboot.entity.User">
        SELECT * FROM user WHERE FIND_IN_SET(id,(SELECT maylikeid FROM userrelation WHERE userId=#{userid}))
    </select>
</mapper>